PORT=5001
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/p17_metering?retryWrites=true&w=majority
NODE_ENV=development
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
